<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/styles/CSSLogin.css" rel="stylesheet" />
</head>
<body>
    <div id="idLoading"></div>


    <header></header>


    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>


</body>
</html>


<link href="~/alertifyjs/css/alertify.min.css" rel="stylesheet" />
<script src="~/alertifyjs/alertify.min.js"></script>
